
	 h1{
		 font-family: 'Quicksand', sans-serif;
		 text-align:center;
		 color: white;
		 background-color: #32D6FF;
		 font-size: 50px;
		 width: 50%;
		 text-align: center;
		 margin: auto;
		 margin-bottom: 15px;
		 margin-top: 0;
		 border-radius: 5px;
		 padding: 5px;
		 font-weight: normal;
	}

	table{
		background-color:#0094FF;
		padding:5px;
		width: 40%;
		margin-right: 3%;
    border-radius: 0px 0px 20px 20px;
    /*margin: 20px auto;*/
		margin-bottom: 20px;
	}

	.no_validado{
		font-size:18px;
		color:#F00;
		font-weight:bold;
	}

	.validado{
		font-size:18px;
		color:#0C3;
		font-weight:bold;
	}

	#identificadorentrada,h2{
    background-color: #0094FF;
	}

  h2{
		font-family: 'Roboto', sans-serif;
    text-align: center;
		color: white;
		width: 40%;
		padding-bottom: 10px;
		padding-top: 10px;
		border-bottom: white 5px solid;
		border-radius: 20px 20px 0px 0px;
		margin: auto;
		margin-left: 57%;
		font-weight:100;
		font-size: 30px;
  }

	#identificadorentrada {
		font-family: 'Quicksand', sans-serif;
		 text-align:left;
		 padding-left: 10px;
		 margin-bottom: 20px;
		 color:white;
		 font-size: 1em;
		 width: 35%;
	}


	input, textarea, select, button {
		font-family: 'Roboto', sans-serif;
	  width : 90%;
		color: #626262;
		background-color: #FFF;
		border: none;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 10px;
		font-size: 15px;
		border-radius: 4px;

		padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;

		-webkit-box-sizing: border-box; /* Para google chrome */
		-moz-box-sizing: border-box; /* para mozilla firefox */
		-ms-box-sizing: border-box; /* internet explorer, edge */
		-o-box-sizing: border-box; /* opera */
		box-sizing: border-box; /* otros */
	}

 input{
  height: 40px;
  }

 input:focus {
 	background: linear-gradient(left, #FFFFFF, #EFEFEF);
 	background: -moz-linear-gradient(left, #FFFFFF, #EFEFEF);
 	background: -webkit-linear-gradient(left, #FFFFFF, #EFEFEF);
 	background: -o-linear-gradient(left, #FFFFFF, #EFEFEF);
  }


 input[type=submit]{
	 width: 150px;
	 height: 30px;
	 padding : 2px 2px 2px 2px;
  }

	input[type=submit]:hover{
	background-color: #D2F9FF;
	}

	input[type=submit]:focus{
		background: none;
	background-color: #9FF1FE;
  color: black;
  }

::-webkit-input-placeholder { /* google chrome y edge */
    color:    #CDCDCD;
		padding-left: 5px;
  }

	body{
		background-color: #32D6FF;
	}

h3{
	font-family: 'Megrim', cursive;
	font-size: 150px;
	margin-top: 20px;
	margin-left: 30px;
	color: white;
}
